{{ partial "header.html" . }}

<div class="banner">
  <div class="container">
    <h1>{{ .Title | markdownify }}</h1>
    {{ .Content }}
  </div>
</div>

<div class="container">
  <h2 id="education">Education</h2>
  <ul>
    {{ range .Site.Data.cv.education }}
      <li>
        {{ . | markdownify }}
      </li>
    {{ end }}
  </ul>
  <h2 id="experience">Experience</h2>
  <ul>
    {{ range .Site.Data.cv.experience }}
      <li>
        {{ . | markdownify }}
      </li>
    {{ end }}
  </ul>
  <h2 id="scholarships-and-awards">Scholarships and awards</h2>
  <ul>
    {{ range .Site.Data.cv.honours }}
      <li>
        {{ . | markdownify }}
      </li>
    {{ end }}
  </ul>
  <h2 id="publications">Publications</h2>
  <p>
    More information is available on my <a href="{{ .Site.Params.Scholar }}">Google Scholar</a> and <a href="{{ .Site.Params.Repec }}">RePEc</a> pages.
  </p>
  <ol reversed>
    {{ range .Site.Data.cv.publications }}
    <li>
      {{ . | markdownify }}
    </li>
    {{ end }}
  </ol>
  <h2 id="conferences">Conference presentations</h2>
  <h3>Papers</h3>
  <ol reversed>
    {{ range .Site.Data.cv.conferences.papers }}
      <li>
        {{ . | markdownify }}
      </li>
    {{ end }}
  </ol>
  <h3>Posters</h3>
  <ol reversed>
    {{ range .Site.Data.cv.conferences.posters }}
      <li>
        {{ . | markdownify }}
      </li>
    {{ end }}
  </ol>
</div>

{{ partial "footer.html" . }}
