* {
  box-sizing: border-box;
  padding: 0;
}


/* Attributes */

body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: #24292e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

a {
  color: #1269d3;
  text-decoration: none;
  transition: 0.2s;
}

a:hover {
  text-decoration: underline;
}

blockquote,
ol,
p,
pre,
ul {
  margin: 1rem 0;
}

blockquote {
  border-left: 0.25rem solid #dfe2e5;
  color: #6a737d;
  padding: 0 1rem;
}

code {
  background-color: rgba(27, 31, 35, 0.05);
  border-radius: 0.25rem;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 85%;
  padding: 0.2rem 0.4rem;
}

h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.25;
  margin: 1.5rem 0 1rem;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

img {
  display: block;
  margin: 1rem auto;
  max-width: 100%;
}

li ol,
li ul {
  margin: 0;
}

ol,
ul {
  padding-left: 2rem;
}

pre {
  background-color: #f6f8fa;
  line-height: 1.45;
  max-width: 100vw;
  overflow: auto;
  padding: 1rem;
}

pre code {
  background-color: transparent;
  padding: 0;
}

sup {
  line-height: 0;
}

table {
  border-bottom: 0.1rem solid #dfe2e5;
  border-top: 0.1rem solid #dfe2e5;
  border-collapse: collapse;
  font-size: 90%;
  margin: 1rem auto;
}

table td,
table th {
  padding: 0.25rem 0.5rem;
  vertical-align: top;
}

table th {
  border-bottom: 0.1rem solid #dfe2e5;
  font-weight: bold;
}


/* Containers */

.container-inner {
  max-width: 640px;
  width: 100%
}

.container-inner::after,
.container-outer::after {
  clear: both;
  content: "";
  display: table;
}

.container-inner::before,
.container-outer::before {
  content: "";
  display: table;
}

.container-outer {
  margin: auto;
  max-width: calc(920px + 2rem);
  padding: 0 1rem;
}

.content {
  min-height: calc(100vh - 3.5rem - 3.2rem - 0.2rem);
}


/* Header and footer */

#header {
  border-bottom: 0.1rem dashed #dfe2e5;
}

#header a {
  color: inherit;
  display: inline-block;
  margin: 1rem 0;
}

#header a:hover {
  text-decoration: none;
}

#header nav {
  float: right;
}

#header nav a {
  margin-left: 1rem;
}

#header nav a:hover {
  border-bottom: 0.1rem solid #1269d3;
  transition: 0;
}

#site-title {
  font-weight: 600;
}

#footer {
  border-top: 0.1rem dashed #dfe2e5;
  font-size: 80%;
}

#footer * {
  margin: 1rem 0;
}

#footer-copyright,
#footer-links {
  display: inline-block;
}

#footer-links {
  float: right;
}

#footer-links a {
  margin-left: 1rem;
}

@media (max-width: 480px) {

  #footer-copyright,
  #footer-links {
    display: block;
    text-align: center;
  }

  #footer-links {
    float: none;
  }

  #footer-links a {
    margin: 1rem 0.5rem 0;
  }
}


/* Media links */

.media-link {
  background-color: #f1f8ff;
  border: 1px solid #deeefe;
  border-radius: 0.25rem;
  display: inline-block;
  font-size: 90%;
  margin-right: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.media-link:hover {
  background-color: #deeefe;
  text-decoration: none;
}


/* Footnotes */

.footnotes {
  border-top: 0.1rem solid #dfe2e5;
  font-size: 80%;
}

.footnotes hr {
  display: none;
}


/* Homepage */

#home-bio {
  margin: 3rem auto;
  max-width: 100%;
  text-align: center;
  width: 480px;
}

#home-bio img {
  border-radius: 100%;
  display: block;
  margin: 1rem auto;
  max-width: 200px;
}

.home-feed {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
  margin: 1rem 0;
  padding: 0;
}

@media (max-width: 480px) {

  .home-feed {
    grid-template-columns: auto;
  }

}

.home-feed-item {
  border: 1px solid #dfe2e5;
  border-radius: 0.25rem;
  display: block;
  color: inherit;
  padding: 1rem 2rem;
}

.home-feed-item:hover {
  background-color: #dfe2e5;
  text-decoration: none;
}

.home-feed-item * {
  margin: 1rem 0;
  padding: 0;
}


/* Blog */

.blog-index {
  list-style: none;
  padding: 0;
}

.blog-index-date {
  color: #888;
  font-size: 80%;
  text-transform: uppercase;
}

