{{ partial "header.html" . }}

<div class="container-outer">
  <div class="container-inner">
    <h1>{{ .Title | markdownify }}</h1>
    <ul class="blog-index">
      {{ range .Data.Pages.GroupByDate "2006" }}
        <h2>{{ .Key }}</h2>
        {{ range .Pages }}
          <li>
            <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
            <span class="blog-index-date">{{ .Date.Format "Jan 02" }}</span>
          </li>
        {{ end }}
      {{ end }}
    </ul>
  </div>
</div>

{{ partial "footer.html" . }}
