{{ partial "header.html" . }}

<script language="javascript">
  function toggle() {
    var ys = document.getElementById("year-span");
    var yd = document.getElementById("year-div");
    var ts = document.getElementById("tag-span");
    var td = document.getElementById("tag-div");
    var text = document.getElementById("toggle");
    if (ys.style.display == "inline") {
      ys.style.display = "none";
      yd.style.display = "none";
      ts.style.display = "inline";
      td.style.display = "block";
      text.innerHTML = "tag";
    }
    else {
      ys.style.display = "inline";
      yd.style.display = "block";
      ts.style.display = "none";
      td.style.display = "none";
      text.innerHTML = "year";
    }
  }
</script>

<h1>{{ .Title | markdownify }}</h1>
{{ .Content }}
<p>
  {{ $years := .Data.Pages.GroupByDate "2006" }}
  Posts by <a href="javascript:toggle()" id="toggle">year</a>:
  <span id="year-span" style="display: inline">
    {{ range $years }}
    <a class="tag-link" href="#{{ .Key }}">{{ .Key }} ({{ len .Pages }})</a>
    {{ end }}
  </span>
  <span id="tag-span" style="display: none">
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }} 
    <a class="tag-link" href="#{{ $name }}">{{ $name }} ({{ len $taxonomy }})</a>
    {{ end }}
  </span>
</p>

<div id="year-div" style="display: block">
  {{ range $years }}
  <h2>{{ .Key }}</h2>
  <ul class="page-index">
  {{ range .Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      <span class="page-index-date">({{ .Date.Format "Jan 02" }})</span>
    </li>
  {{ end }}
  </ul>
  {{ end }}
</div>

<div id="tag-div" style="display: none">
  {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
  <h2>#{{ $name }}</h2>
  <ul class="page-index">
  {{ range $taxonomy }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      <span class="page-index-date">({{ .Date.Format "2006-01-02" }})</span>
    </li>
  {{ end }}
  </ul>
  {{ end }}
</div>

{{ partial "footer.html" . }}
