{{ partial "header.html" . }}

<script language="javascript">
  function by_year() {
    document.getElementById("year-span").style.display = "inline";
    document.getElementById("year-div").style.display = "block";
    document.getElementById("tag-span").style.display = "none";
    document.getElementById("tag-div").style.display = "none";
  }
  function by_tag() {
    document.getElementById("year-span").style.display = "none";
    document.getElementById("year-div").style.display = "none";
    document.getElementById("tag-span").style.display = "inline";
    document.getElementById("tag-div").style.display = "block";
  }
</script>

<h1>{{ .Title | markdownify }}</h1>
{{ .Content }}
<p>
  {{ $years := .Data.Pages.GroupByDate "2006" }}
  Sort by <a href="javascript:by_year()">year</a> / <a href="javascript:by_tag()">tag</a>:
  <span id="year-span" style="display: inline">
    {{ range $years }}
    <a class="tag-link" href="#{{ .Key }}">{{ .Key }} ({{ len .Pages }})</a>
    {{ end }}
  </span>
  <span id="tag-span" style="display: none">
    {{ range $name, $taxonomy := .Site.Taxonomies.tags }} 
    <a class="tag-link" href="#{{ $name }}">{{ $name }} ({{ len $taxonomy }})</a>
    {{ end }}
  </span>
</p>

<div id="year-div" style="display: block">
  {{ range $years }}
  <h2>{{ .Key }}</h2>
  <ul class="page-index">
  {{ range .Pages }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      <span class="page-index-date">({{ .Date.Format "Jan 02" }})</span>
    </li>
  {{ end }}
  </ul>
  {{ end }}
</div>

<div id="tag-div" style="display: none">
  {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
  <h2>#{{ $name }}</h2>
  <ul class="page-index">
  {{ range $taxonomy }}
    <li>
      <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
      <span class="page-index-date">({{ .Date.Format "2006-01-02" }})</span>
    </li>
  {{ end }}
  </ul>
  {{ end }}
</div>

{{ partial "footer.html" . }}
