</div>
<footer>
  {{ partial "footer_highlightjs" . }}
  {{ if not .IsHome }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.js"></script>
    <script>anchors.add();</script>
  {{ end }}
  {{ if and (.Params.math) (or (in (string .Content) "\\") (in (string .Content) "$")) }}
    <script src="{{ "js/math-code.js" | relURL }}"></script>
    <script async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  {{ end }}
  <div class="container">
    <div class="footer-legal">
      &copy; 2018&ndash;{{ dateFormat "2006" now }} {{ .Site.Params.Author }}
    </div>
    <div class="footer-links">
      <a href="/about/#contact">Contact</a>
      <a href="/disclaimer/">Disclaimer</a>
    </div>
  </div>
</footer>
</body>
</html>
