</div>
<footer>
  {{ partial "footer_highlightjs" . }}
  {{ if not .IsHome }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.1/anchor.js"></script>
    <script>anchors.add();</script>
  {{ end }}
  {{ if and (.Params.math) (or (in (string .Content) "\\") (in (string .Content) "$")) }}
    <script src="{{ "js/math-code.js" | relURL }}"></script>
    <script async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"></script>
  {{ end }}
  <div class="container footer">
    <p>
      &copy; 2018&ndash;{{ dateFormat "2006" now }}
      <a href="mailto:{{ .Site.Params.Email }}">{{ .Site.Params.Author }}</a>
    </p>
  </div>
</footer>
</body>
</html>
