<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  {{ if eq .URL "/" }}
    <title>{{ .Site.Title }}</title>
  {{ else }}
    <title>{{ replace .Title "*" "" }} - {{ .Site.Title }}</title>
  {{ end }}
  {{ if not .Site.BuildDrafts }}
    {{ template "_internal/google_analytics.html" . }}
  {{ end }}
</head>

<body>
<header>
  <div class="container">
      <a href="/">{{ .Site.Title }}</a>
      <nav>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <a href="/cv/">CV</a>
      </nav>
    </div>
</header>

<div class="content">
