<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="{{ .Site.Params.author }}">
  <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href="/index.xml">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  <meta name="twitter:creator" content="@bnldvs"/>
  <meta name="twitter:site" content="@bnldvs"/>
  <meta property="og:type" content="website"/>
  <meta property="og:url" content="{{ .Permalink }}"/>
  {{ if .IsHome }}
    <title>{{ .Site.Title }}</title>
    <meta name="description" content="{{ .Site.Params.description }}"/>
    <meta property="og:title" content="{{- .Site.Title -}}"/>
    <meta property="og:description" content="{{- .Site.Params.description -}}"/>
  {{ else }}
    <title>{{ replace .Title "*" "" }} - {{ .Site.Title }}</title>
    <meta name="description" content="{{ .Summary -}}"/>
    <meta property="og:title" content="{{- replace .Title "*" "" -}}"/>
    <meta property="og:description" content="{{- .Summary -}}"/>
  {{ end }}
  {{ if or .IsHome .IsSection }}
    <meta name="twitter:card" content="summary"/>
    <meta property="og:image" content="{{ .Site.BaseURL }}square.jpeg"/>
  {{ else if .Params.image }}
    <meta name="twitter:card" content="summary_large_image"/>
    <meta property="og:image" content="{{ .Permalink }}{{ .Params.image }}"/>
  {{ else }}
    <meta name="twitter:card" content="summary"/>
  {{ end }}
</head>

<body>
<header>
  <div class="content">
  <div class="container header">
    <a href="/">{{ .Site.Title }}</a>
    <a href="/">About</a>
    <a href="/blog/">Blog</a>
    <a href="/research/">Research</a>
    <a href="/cv.pdf">Vita</a>
  </div>
  </div>
</header>

<div class="main">
<div class="content">
<div class="container">
