<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
  {{ partial "head_highlightjs" . }}
  <link rel="stylesheet" href="{{ "css/hljs-overrides.css" | relURL }}">
  {{ if eq .RelPermalink "/" }}
    <title>{{ .Site.Title }}</title>
  {{ else }}
    <title>{{ replace .Title "*" "" }} - {{ .Site.Title }}</title>
  {{ end }}
  {{ if in (.Site.BaseURL | string) "bldavies.com" }}
    {{ template "_internal/google_analytics.html" . }}
  {{ end }}
</head>

<body>
<header>
  <div class="container-outer">
    <div id="header">
      <a href="/" id="site-title">{{ .Site.Title }}</a>
      <nav>
        <a href="/">Home</a>
        <a href="/about/">About</a>
        <a href="/blog/">Blog</a>
        <a href="/research/">Research</a>
      </nav>
    </div>
  </div>
</header>

<div class="content">
