{{ partial "header.html" . }}

<div class="banner">
  <div class="container">
    <h1>{{ .Title }}</h1>
  </div>
</div>
<div class="container">
  <ul class="latest-posts-index">
    {{ range $index, $element := first 5 (where .Pages "Section" "blog") }}
      <li>
        {{ if ge $index 1 }}
          <hr>
        {{ end }}
        <div class="latest-posts-item">
          <h2><a href="{{ .Permalink }}">{{ $element.Title | markdownify }}</a></h2>
          <time>{{ .Date.Format "January 02, 2006" }} &mdash; {{ .ReadingTime }} min. read</time>
          {{ with .Description }}
            {{ $.Scratch.Set "summary" (markdownify .) }}
          {{ else }}
            {{ $.Scratch.Set "summary" ((delimit (findRE "(<p.*?>(.|\n)*?</p>\\s*)+" .Content) "[&hellip;] ") | plainify | truncate 250 " &hellip;" | replaceRE "&amp;" "&" | safeHTML) }}
          {{ end }}
          <p>{{ $.Scratch.Get "summary" }}</p>
        </div>
      </li>
    {{ end }}
  </ul>
</div>

{{ partial "footer.html" . }}
