{{ partial "header.html" . }}

<script src="{{ "js/research.js" | relURL }}"></script>

<div id="front">
  <img id="portrait" src="square.jpeg">
  <div id="bio">
    {{ .Content }}
    <p><strong>CV</strong>: <a href="/cv.pdf" target="_blank>">here</a></p>
    <p><strong>Email</strong>: <a href="mailto:bldavies@stanford.edu">bldavies@stanford.edu</a></p>
    <strong>References</strong>:
    <ul>
      <li><a href="https://web.stanford.edu/~jacksonm/" target="_blank">Matthew Jackson</a> (co-advisor): <a href="mailto:jacksonm@stanford.edu">jacksonm@stanford.edu</a></li>
      <li><a href="https://web.stanford.edu/~arungc/" target="_blank">Arun Chandrasekhar</a> (co-advisor): <a href="mailto:arungc@stanford.edu">arungc@stanford.edu</a></li>
      <li><a href="https://gsb-faculty.stanford.edu/steven-callander/" target="_blank">Steven Callander</a>: <a href="mailto:sjc@stanford.edu">sjc@stanford.edu</a></li>
    </ul>
  </div>
</div>

<h2>Research</h2>

<p>
  My research papers are listed below and on <a href="{{ .Site.Params.scholarURL }}">Google Scholar</a>.
</p>

{{ $jmp := where .Site.Data.research "type" "jmp" }}
<h3>Job market paper</h3>
{{ range $jmp }}
{{ partial "publication.html" . }}
{{ end }}

{{ $wpList := where .Site.Data.research "type" "wp" }}
{{ if $wpList }}
<h3>Working papers</h3>
{{ range sort $wpList "date" "desc" }}
{{ partial "publication.html" . }}
{{ end }}
{{ end }}

{{ $wipList := where .Site.Data.research "type" "wip" }}
{{ if $wipList }}
<h3>Work in progress</h3>
{{ range sort $wipList "date" "desc" }}
{{ partial "publication.html" . }}
{{ end }}
{{ end }}

{{ $pubList := where .Site.Data.research "type" "pub" }}
<h3>Publications</h3>
{{ range sort $pubList "date" "desc" }}
{{ partial "publication.html" . }}
{{ end }}

{{ $techList := where .Site.Data.research "type" "tech" }}
{{ if $techList }}
<h3>Technical notes</h3>
{{ range sort $techList "date" "desc" }}
{{ partial "publication.html" . }}
{{ end }}
{{ end }}

{{ $othList := where .Site.Data.research "type" nil  }}
{{ if $othList }}
<h3>Other writing</h3>
{{ range sort $othList "date" "desc" }}
{{ partial "publication.html" . }}
{{ end }}
{{ end }}

{{ partial "footer.html" . }}
