{{ partial "header.html" . }}

<script src="{{ "js/research.js" | relURL }}"></script>

<img id="portrait" src="square.jpeg">

{{ .Content }}

{{ $wpList := where .Site.Data.research "type" "wp" }}
<h2>Working papers</h2>
{{ range sort $wpList "date" "desc" }}
{{ partial "publication.html" . }}
{{ end }}

{{ $wipList := where .Site.Data.research "type" "wip" }}
{{ if $wipList }}
<h2>Work in progress</h2>
{{ range sort $wipList "date" "desc" }}
{{ partial "publication.html" . }}
{{ end }}
{{ end }}

{{ $pubList := where .Site.Data.research "type" "pub" }}
<h2>Publications</h2>
{{ range sort $pubList "date" "desc" }}
{{ partial "publication.html" . }}
{{ end }}

{{ $reportList := where .Site.Data.research "type" "report" }}
{{ if $reportList }}
<h2>Technical and policy reports</h2>
{{ range sort $reportList "date" "desc" }}
{{ partial "publication.html" . }}
{{ end }}
{{ end }}

{{ $othList := where .Site.Data.research "type" nil  }}
{{ if $othList }}
<h2>Other writing</h2>
{{ range sort $othList "date" "desc" }}
{{ partial "publication.html" . }}
{{ end }}
{{ end }}

{{ $wpList := where .Site.Data.research "type" "old" }}
<h2>Resting papers</h2>
{{ range sort $wpList "date" "desc" }}
{{ partial "publication.html" . }}
{{ end }}

{{ partial "footer.html" . }}
