{{ partial "header.html" . }}

<div class="banner">
  <div class="container">
    <h1>{{ .Title | markdownify }}</h1>
    {{ .Content }}
    <p>
      More information is available on my <a href="{{ .Site.Params.scholar }}">Google Scholar</a>, <a href="{{ .Site.Params.repec }}">RePEc</a> and <a href="{{ .Site.Params.orcid }}">ORCID</a> profiles.
    </p>
  </div>
</div>

<div class="container">
  <h2>Working Papers</h2>
  <ul class="blog-index">
    {{ range where .Pages ".Params.publication_type" "Working Paper" }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
        {{ if .Params.coauthors }}(with {{ .Params.coauthors }}){{ end }}
      </li>
    {{ end }}
  </ul>
</div>

{{ partial "footer.html" . }}
