{{ partial "header.html" . }}

<h1>{{ .Title | markdownify }}</h1>
{{ .Content }}

<ul class="page-index">
{{ range .Pages }}
  <li>
    <a href="{{ .Permalink }}">{{ .Title | markdownify }}</a>
    {{- if .Params.coauthors }} (with {{ .Params.coauthors }}){{ end -}}
    {{- if .Params.outlet }}, {{ .Params.outlet | markdownify }}{{ end -}}
    {{- if .Params.forthcoming }}, forthcoming{{ else }}, {{ dateFormat "2006" .Date }}{{ end -}}
    .
  </li>
{{ end }}
</ul>

{{ partial "footer.html" . }}
