{{ partial "header.html" . }}

<div class="banner">
  <h1>{{ .Title | markdownify }}</h1>
  <p>{{ .Date.Format "January 2006" }}</p>
  <p>
    {{ range $i, $e := .Params.resources }}
    {{ if $i }} / {{ end }}
    <a href="{{ $e.src }}">{{ $e.name }}</a>
    {{ end }}
  </p>
</div>

{{ if .Params.abstract }}
<h2>Abstract</h2>
<p>{{ .Params.abstract | markdownify }}</p>
{{ end }}

{{ if .Params.citation }}
<h2>Citation</h2>
<p>{{ .Params.citation | markdownify }}</p>
{{ end }}

{{ partial "footer.html" . }}
